# =============== #
# Unity generated #
# =============== #
EscapeTheVR/[Tt]emp/
EscapeTheVR/[Oo]bj/
EscapeTheVR/[Bb]uild
EscapeTheVR/[Bb]uilds/
EscapeTheVR/[Ll]ibrary/
EscapeTheVR/Assets/TextMesh Pro/
EscapeTheVR/sysinfo.txt
*.stackdump
EscapeTheVR/Assets/AssetStoreTools*
*.apk
*.unitypackage

EscapeTheVR/Library/Artifacts/*
[Ll]ibrary/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
EscapeTheVR/[Ee]xported[Oo]bj/
EscapeTheVR/.vs/
EscapeTheVR/*.userprefs
EscapeTheVR/*.csproj
EscapeTheVR/*.pidb
EscapeTheVR/*.pidb.meta
EscapeTheVR/*.suo
EscapeTheVR/*.sln*
EscapeTheVR/*.user
EscapeTheVR/*.unityproj
EscapeTheVR/*.booproj
EscapeTheVR/.consulo/
EscapeTheVR/*.tmp
EscapeTheVR/*.svd
 
# ============ #
# OS generated #
# ============ #
EscapeTheVR/.DS_Store*
EscapeTheVR/._*
EscapeTheVR/.Spotlight-V100
EscapeTheVR/.Trashes
EscapeTheVR/Icon?
EscapeTheVR/ehthumbs.db
EscapeTheVR/[Tt]humbs.db
EscapeTheVR/[Dd]esktop.ini
EscapeTheVR/Corridor/Library/ShaderCache/
EscapeTheVR/Corridor/Library/metadata/